body {
    background-image: url(images/Unknown-2.jpeg);
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: rgb(186, 130, 58);
    font-size: 35px;
    font-family: "Calibri", sans-serif;
    padding-bottom: 50px;
    padding-top: 20px;
    background-color: aliceblue;
    
}

img {
    border-radius: 100%;
    width: 100px;
    animation: roll 4s infinite linear ;
}

@keyframes roll {
    100% {transform: rotate(360deg)}
}
.custom-btn {
    width: 150px;
    height: 150px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Times New Roman' , serif;
    font-size: medium;
    font-weight: 1000;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        10px 10px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    margin-bottom: 70px;

}

.btn-1 {
    background-image: url(images/istockphoto-114242337-612x612.jpg);
    background-size: 200px;
    background-position: center;
    border-radius: 50px;
    border: #000 solid;
    text-transform: uppercase;
    color: antiquewhite;
}

.btn-1:hover{
    background-image: url(images/istockphoto-114242337-612x612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
    width: 150px;
    height:145px;
    animation: ring 0.1s ease-out 0s 12 backwards ;
}

@keyframes ring {
    from { transform: rotateZ(2deg);}
    to { transform: rotateZ(-2deg);}
    
}

.text-1 {
    background-color:black;
}


.btn-2 {
    background-image: url(images/png-clipart-tribulation-vinyl-record-phonograph-record-lp-record-album-vinyl-miscellaneous-album-thumbnail.png);
    background-position: center;
    background-size: 190px;
    border-radius: 130%;
    color: rgb(203, 99, 195);
    text-transform: uppercase;
    border: #000 solid;
}


.btn-2:hover {
    background-image:url(images/png-clipart-tribulation-vinyl-record-phonograph-record-lp-record-album-vinyl-miscellaneous-album-thumbnail.png);
    background-color: transparent;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    animation: rotate 2s infinite linear;
    
}

@keyframes rotate {
    100% { transform: rotate(360deg);
    }  
 }

 .text-2 {
    background-color: #000;
    padding: 3px;
 }

 .btn-3 {
    background-image: url(images/41Qdax2KluL._AC_SY1000_.jpg);
    background-position: center;
    background-size: 190px;
    width: 150px;
    height: 90px;
    text-transform: uppercase;
    border: #000 solid;
 }
.btn-3:hover {
    background-image: url(images/41Qdax2KluL._AC_SY1000_.jpg);
    background-size: 190px;
    background-repeat: no-repeat;
    width: 150px;
    height: 90px;
    animation: skip 0.7s ease-out 3;
}

 @keyframes skip {
100% { transform: translateY(-20px);
    }

}

.text-3 {
    background-color: antiquewhite;
    padding-top: 5px;
}

   

/* Add your custom styles for btn-1, btn-2, and btn-3 */